/* CSS for left navigation bar */
/* Add scrollbar if overflowing in y-direction. The 95% of viewport height allow for borders.*/
.ltx_page_navbar {
  display: block!important;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: calc(350px - 1em);
  margin: 0px;
  padding: 0px;
  font: 90% sans-serif;
  color: black;
/*border: 3px double;*/
  overflow-y: auto;
  height: 100%;
  border-style: solid;
  border-color: #707A85; /* "Bouncing ball trace gray" */
  border-width: 0px;
  border-right-width: 1em;
}

.ltx_page_navbar a[rel=start] {
  display: none; /* Hiding the sidebar title, as it is too long to look good, and seem to lack structure for adequate layout. */
  margin: 1em;
  font-weight: bold;
}

nav > div.ltx_TOC {
  margin-left: 1em;
}

.ltx_TOC > ul.ltx_toclist {
  padding: 0em;
}

.ltx_toclist ul {
  padding-left: 1em; /* Indentation of each table of contents level below the top. */
}

.ltx_ref_title .ltx_tag_ref {
  font-size: 75%; /* Compress navbar even more by shrinking the numbering. */
}

body {
  margin: 0px;
  background: #F6F6F6;
}

.ltx_page_main {
  position: absolute;
  z-index: 2;
  margin-left: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 80em;
  padding: 0px;
}

.ltx_page_header {
  position: fixed;
  z-index: 3;
  width: calc(100% - 350px - 2em);
  top: 0px;
  height: 3em;
  padding: 0.5em 1em;
  background: #F6F6F6; /* Same as body. */
  color: black; /* Same as side bar. */
}

.ltx_page_content {
  padding: 1em;
  margin-top: 3em; /* Header height plus padding below, minus a little bit. */
  background: white;
}

.ltx_page_footer {
  padding: 1em;
  background: white;
}
