/* CSS for left navigation bar */
/* Add scrollbar if overflowing in y-direction. The 95% of viewport height allow for borders.*/
.ltx_page_navbar {
  display: block!important;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 350px;
  margin: 0em;
  padding: 1em 0em 0em 1em;
  font: 90% sans-serif;
  color: black;
/*border: 3px double;*/
  overflow-y: auto;
  height: 95vh;
}

.ltx_page_navbar .ltx_ref {
  color: black;
}

.ltx_TOC > ul.ltx_toclist {
  padding: 0px 1em 0px 0px;
}

.ltx_toclist ul {
  padding-left: 1em;
}

.ltx_ref_title .ltx_tag_ref {
  font-size: 75%; /* Compress navbar even more by shrinking the numbering. */
}

.ltx_page_main {
  position: absolute;
  left: 350px;
  top: 0px;
  max-width: 30cm;
  padding: 0em 1em;
  background: white; /* Avoid strange effect when scrolling horizontally causing overlap with navbar. */
}
