/* This CSS makes adjustments for the MLS on top of the style sheets that come with LaTeXML.
 * By not editing copies of the ones from LaTeXML, we can take advantage of upstream improvements to the LaTeXML files.
 */

/* Changes by Martin
 */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

a       { text-decoration: none; color: inherit; }
a:hover { text-decoration: underline; }

.ltx_titlepage {
  padding-top: 2rem; /* The big Modelica Language logo doesn't look good too close to page header. */
}

.ltx_tocentry_subsection { display: none; }

/* Undo bold here to remove the browser's native <th> styling,
 */
.ltx_th { font-weight: normal; }

/* NOT ACTIVE: Compensate for default font size ratio 13:16 for monospace to normal.
 * 16/13 = 1.2307...
 * When inline code is displayed side by side with MathJax math, even this is on the small side, but when the
 * MathJax math is inside the inline code (using mathescape), the math is scaled down with the text.
 * Hence, rather than scaling up the monospace font, it seems better to scale down the math that isn't doesn't have
 * font set to monospace (the font probably only matters for font size selection in the case of math content).
 * TODO: Needs more tweaking in order to do more good than harm.
 */
/* .ltx_Math { font-size:120%; } */
/* .MathJax .ltx_Math { font-size: 100%; } */
/* .ltx_font_typewriter { font-size:110%; } */
/* .ltx_font_typewriter .ltx_Math { font-size: 120%; } */
/* .ltx_font_typewriter .MathJax .ltx_Math { font-size: 110%; } */

/* Undo the ltx-report.css setting that destroys parskip.sty style paragraphs.
 */
.ltx_para > .ltx_p:first-child { text-indent: 0; }

/* Treat heading for table of contents on front page as if it were a chapter title,
 * by copying the style of .ltx_title_chapter in ltx-report.css.
 */
.ltx_document .ltx_TOC h6 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 1em;
}

.ltx_dates {
  display: none;
}

.ltx_biblist {
  padding-inline-start: 0px;
}

.ltx_bibitem {
  padding: 0.5rem 0px;
}

.ltx_bibitem .ltx_tag {
  margin-left: 0px;
}

/* Treat heading for document index as if it were a chapter title,
 * by copying the style of .ltx_title_chapter in ltx-report.css.
 */
.ltx_page_content .ltx_index h1 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 1em;
}

/* Remove indentation of index terms at the top level.
 */
 .ltx_index > .ltx_indexlist {
  margin-left: 0px;
  padding-left: 0px;
}

/* Change space between term and links into a dash in order to get better separation.
 * This is needed since LaTeXML produces many links that begin with words that makes it hard to see where the
 * term ends and the links begin.
 */
.ltx_indexrefs > .ltx_text:first-child:before {
  content: " –";
}

.ltx_page_header *[rel~="up"],
.ltx_page_footer *[rel~="up"] { display: table; margin: 0 auto; text-align: center; }
