/* This CSS makes adjustments for the MLS on top of the style sheets that come with LaTeXML.
 * By not editing copies of the ones from LaTeXML, we can take advantage of upstream improvements to the LaTeXML files.
 */

/* Changes by Martin
 */
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

a       { text-decoration: none; color: blue; }
a:hover { text-decoration: underline; }

.ltx_tocentry_subsection { display: none; }

/* Undo bold here to remove the browser's native <th> styling,
 */
.ltx_th { font-weight:normal; }

/* Compensate for default font size ratio 13:16 for monospace to normal.
 * 16/13 = 1.2307...
 * When inline code is displayed side by side with MathJax math, even this is on the small side, but when the
 * MathJax math is inside the inline code (using mathescape), the math is scaled down with the text.
 * Hence, rather than scaling up the monospace font, it seems better to scale down the math that isn't doesn't have
 * font set to monospace (the font probably only matters for font size selection in the case of math content).
 * 13/16 = 0.8125
 */
/*.ltx_font_typewriter { font-size:123%; }*/
.ltx_Math { font-size: 81.25%; }
.ltx_font_typewriter .ltx_Math { font-size: 100%; }
